.v-input__prepend-outer {
  margin: 0 8px 0 0 !important;
}

.v-input__append-inner {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  align-self: center !important;
}

.input {
  &--per-page {
    align-items: center !important;

    .v-input__control {
      width: 47%;
    }
  }
}

.v-input {
  background-color: white;
}

.v-input--checkbox {
  background-color: transparent;
}

.v-input--switch {
  background-color: transparent;
}

.v-select__selections {
  .v-chip--select {
    background-color: #ecf5ff !important;
    border-color: #d9ecff !important;
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    color: #409EFF !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px !important;
    box-sizing: border-box;
    white-space: nowrap;

    .v-icon {
      color: #409EFF !important;
    }
  }
}
